<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mymusic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.mymusic.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/shape_iconn"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/shape_iconn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.mymusic.dj.mvp.view.RadioActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.mymusic.dj.mvp.view.RadioCatActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.dj.mvp.view.RadioListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.dj.mvp.view.RadioRecommendActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.MySubActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.LocalMusicActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.song.mvp.view.SongListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SongDetailTheme">
            <meta-data
                android:name="android.max_aspect"
                android:value="ratio_float" />
        </activity>
        <activity android:name="com.example.mymusic.song.mvp.view.CommentActivity" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.example.mymusic.search.mvp.view.SingerInfoDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.search.mvp.view.SingerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.video.mvp.view.VideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.personal.mvp.view.PictureCheckActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.search.mvp.view.SearchResultActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.search.mvp.view.SearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.friend.mvp.view.MyFriendActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.personal.mvp.view.PersonalSettingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.setting.mvp.view.SettingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.personal.mvp.view.PersonalInfoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.PlayListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.PlayListRecommendActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.RankActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.song.mvp.view.SongActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.song.mvp.view.SongDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SongDetailTheme">
            <meta-data
                android:name="android.max_aspect"
                android:value="ratio_float" />
        </activity>
        <activity
            android:name="com.example.mymusic.main.mvp.view.DailyRecommendActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.login.mvp.view.SelectLoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.login.mvp.view.LoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mymusic.main.mvp.view.SplashActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".broadcast.ControlBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.mymusic.controlbroadcast"></action>
            </intent-filter>
        </receiver>
        <activity android:name=".main.mvp.view.StudentActivity"></activity>
    </application>

</manifest>